[*.cs]

# Default severity for analyzer diagnostics with category 'Design'
dotnet_analyzer_diagnostic.category-Design.severity = silent

# S3903: Types should be defined in named namespaces
dotnet_diagnostic.S3903.severity = none

# S4136: Method overloads should be grouped together
dotnet_diagnostic.S4136.severity = silent

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = silent
